environment: development  # [development|production]

db:
  type: mysql  # 支持mysql
  host: 127.0.0.1
  port: 3306
  user: root
  password: passowrd
  database: mblog

web:
  listen: :8080
  template:
    suffix: .html
    theme: template/default
  static:
    dirs:
      /static: ./static
    files:
      /favicon.ico: ./static/favicon.ico